#view {
  padding: 20px;
  background-color: #000;
  min-height: 100%;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.l-contentWrapper {
  opacity: 1;
  transition: all 200ms ease-out;
  @media screen and (max-width: 768px) {
    &.hideOnMobile {
      opacity: 0;
    }
  }
}

.c-blackBox {
  background-color: rgba(0, 0, 0, 0.4);
  @media screen and (min-width: 769px) {
    width: 280px;
  }
  margin: 0 0 1px auto;
  padding: 20px;
}

.c-infoLink {
  text-align: right;
  .glyphicon {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    padding: 4px 4px 2px;
    border-radius: 16px;
    color: #262626;

    &:hover {
      opacity: 0.75;
    }
  }
}
