.analogClock {
  width: 150px;
  height: 150px;
  position: relative;

  &__hands,
  &__background {
    width: 100%;
    height: 100%;
  }

  &__background {
    position: relative;
  }

  &__hands {
    position: absolute;
    top: 0;
    left: 0;
  }
}
