.clockColon {
  width: 12px;
  height: 25px;
  background-image: url('/clockScape/img/digital_number.png'); // full path in server
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
