.regionSelector {
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  width: 100%;
  display: block;
  font-size: 16px;

  option {
    color: #262626;
  }
}
